body {
    background-color: white;
}

#fristimage {
    position: relative;
}

img {
    width: 100%;
}

#content1 {
    text-align: center;
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;

}

#content1 h2 {
    padding-top: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#content2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    border-color: black;
}

#content2 h3 {
    text-align: center;
    padding-top: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

#content2 img {
    width: 100%;
    height: 140px;
}
li {
    display: inline;

  }
  li {
    float: right;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: black;
    color: white;
  }
  ul {
    background-color: black;
    position:relative;
    width: 100%;
  }
  h5{
    justify-content: center;
    text-align: center;
    color: white;
    display: inline;
  }
